mp3/
db/
**/__pycache__/
test/
myenv/
Music_Spectogram_Images/
Music_Sliced_Images/
music/
*.pt
*.pkl
node_modules/
*.env
frontend/public/albums/
frontend/public/cover-images/
frontend/public/songs/
frontend/public/lyrics/
tmp/